// 颜色定义规范
$color-background = transparent
$color-theme = #d43c33
$color-text = #333
$color-text-light = #888

// 字体定义规范
$font-size-small-s = 12px
$font-size-small = 13px
$font-size-medium = 15px
$font-size-medium-m = 16px
$font-size-medium-x = 17px